<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <!--[if lt IE 8]>
<link rel="stylesheet" href="stylesheets/ie.css">
<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
      <header id="banner">
        <h1>Firefox OS for TV</h1>
        <p>Is it far away or close enough?</p>
        <nav>
          <li><a href="/">Home</a></li>
          <li><a href="/about.html">About</a></li>
        </nav>
      </header>

    <div class="wrapper">
    {{ content }}
    <footer id="footer">
        <hr/>
        <ul>
        <a href="http://www.orange.com/"><img src='/images/favicon.ico'></a>
        <span>Copyright Orange 2013 &mdash; Hosted on GitHub Pages &mdash; Original Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
    </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
